* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: black;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

main {
    background: white;
}

h1 {
    color: black;
    font-size: 400%;
    font-family: 'Roboto', cursive;
    font-weight: lighter;
    text-align: center;
    margin-top: 0px;
    padding-top: 50px;
    margin-bottom: -20px
}

h2 {
    text-align: center;
    font-family: 'Roboto';
    font-weight: 600;
}

article {
    background: #73AD21;
    max-width: 300px;
    margin-bottom: 0.625rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 2px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 0.625rem;
    overflow: hidden;
}

.character {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.characterCard {
    margin-right: 15px;
    margin-left: 15px;
    
}

.cardInfo {
    padding: 10px;
}

.characterCardTitle {
    padding: 10px;
    padding-top: 0px,
}

.header {
    background: white;
}

.hero1 {
    font-size: 1.875rem;
    background: black;
    color: rgb(255, 152, 0);
    margin: 0%;
    position: relative;
}

.hero2 {
    background: transparent;
    font-size: 1.875rem;
    color: transparent;
    margin-top: -2.7%;
    margin-bottom: 0px;
    position: relative;
}

.menu {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.menu li {
    list-style: none;
    padding: 15px;
    display: inline-block;
}

.botons {
    display: flex;
    justify-content: flex-end;
    justify-content: center;
}

.boton {
    font-family: 'Roboto';
    background: rgb(255, 152, 0);
    color: black;
    border-radius: 12px;
    padding: 14px 40px;
    transition-duration: 0.4s;
    border: none;
}

.boton:hover {
    background: rgb(255, 187, 0);
    color: black;
}

.button:active {
    background: rgb(185, 113, 5);
    color: black;
}